# Dependencies
/node_modules
/.pnp
.pnp.js
.pnp.loader.mjs

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log

# Local Env Files
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE files
.idea
.project
.classpath
*.launch
.settings/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarnclean

# dotenv environment variables file
.env

# genkit state file
.genkit/state.json
